{{#if band}}
  {{#if band.socialLinks}}
    <ul class="social-links clearfix">
      {{#each band.socialLinks as |link|}}
        <li>{{{link}}}</li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if band.imageUrl}}
    <img src="{{band.imageUrl}}"/>
  {{/if}}
  {{{band.description}}}
{{else}}
  Loading Band Info...
{{/if}}
