<div class="row centered">
  <h1>Norman Music Fest 2016 Schedule</h1>

  <p>Choose one of the days below (or above) to see the schedule for that day.</p>
  <div class="main-days row">
      <div class="small-4 columns">{{link-to 'Thursday' 'day' 'thursday'}}</div>
      <div class="small-4 columns">{{link-to 'Friday' 'day' 'friday'}}</div>
      <div class="small-4 columns">{{link-to 'Saturday' 'day' 'saturday'}}</div>
  </div>

  <hr />

  <h2>My Schedule - Coming Soon</h2>
  <p>
    Anywhere you see a calendar icon attached to a show, just click/tap on it and that show
    will be added to your custom list of shows here on the home page. This will make it easy
    for you to keep track of the shows you want to see.
  </p>

  <hr />

  {{my-shows}}

  <h2>About</h2>
  <p>
    This app was created by Jeremy Green
    (<a href="http://twitter.com/jagthedrummer">@jagthedrummer</a>)
    of <a href="http://www.octolabs.com/">OctoLabs</a> to give people an easier way to
    browse the NMF schedule, especially on mobile devices.
  </p>
  <p>
    This is an un-official project and is not associated with or endorsed by the official
    Norman Music Fest organization.
  </p>
  <p>
    <a href="http://normanmusicfestival.com/">The official Norman Music Fest site can be found at http://normanmusicfestival.com/</a>
  </p>
</div>
